<script lang="ts">
  import ImageEditor from "tui-image-editor"
  import "$lib/filter-controller.css"
  import StaticFilters from "./filter-controllers/static-filters.svelte";
  import RemoveWhite from "./filter-controllers/remove-white.svelte";
  import Brightness from "./filter-controllers/brightness.svelte";
  import Noise from "./filter-controllers/noise.svelte";
  import ColorFilter from "./filter-controllers/color-filter.svelte";
  import Pixelate from "./filter-controllers/pixelate.svelte";
  import Tint from "./filter-controllers/tint.svelte";
  import Multiply from "./filter-controllers/multiply.svelte";
  import Blend from "./filter-controllers/blend.svelte";

    export let imageEditor: ImageEditor|null = null;
    export let currentImage: string|null = null;
</script>

<div class="sub-menu-container flex justify-center items-center w-full" id="image-filter-sub-menu" style="display: block; min-width:1100px">
  <ul class="menu">
    <StaticFilters imageEditor={imageEditor} currentImage={currentImage}/>
    <RemoveWhite  imageEditor={imageEditor} currentImage={currentImage}/>
    <Brightness  imageEditor={imageEditor} currentImage={currentImage}/> 
    <Noise  imageEditor={imageEditor} currentImage={currentImage}/>
    <ColorFilter  imageEditor={imageEditor} currentImage={currentImage}/>
    <Pixelate  imageEditor={imageEditor} currentImage={currentImage}/>
  </ul>
  <ul class="menu">
    <Tint  imageEditor={imageEditor} currentImage={currentImage}/>
    <Multiply  imageEditor={imageEditor} currentImage={currentImage}/>
    <Blend  imageEditor={imageEditor} currentImage={currentImage}/>
  </ul>
</div>