<script lang="ts">
    // import FileSaver from "file-saver";
    import ImageEditor from "tui-image-editor"
    import { onMount } from "svelte";
    import { Splide, SplideSlide } from '@splidejs/svelte-splide';
    import { page } from '$app/stores';  

    import '@splidejs/svelte-splide/css/core';
    import '@splidejs/svelte-splide/css';
  import FilterController from "./filter-controller.svelte";

    let imageW = 0
    let imageH = 0
    const allSampleImage = ['image1.jpg', 'image2.jpg', 'image3.jpg', 'image4.jpg', 'image5.jpg', 'image6.jpg', 'image7.jpg', 'image8.jpg', 'image9.jpg']
    /** @type {HTMLCanvasElement} */
    let tuiImageEditorDiv: HTMLDivElement;
    let instance: ImageEditor|null = null;
    let selectImage: string| null = null

    $: choiceImage(selectImage)

    onMount(async ()=>{
        if(tuiImageEditorDiv){
            console.log("Create Instance!")
            instance = new ImageEditor(tuiImageEditorDiv, {
                cssMaxWidth: 700,
                cssMaxHeight: 500,
                selectionStyle: {
                    cornerSize: 20,
                    rotatingPointOffset: 70,
                },
            });
        }
    })

    function choiceImage(selectedImage: string|null){
        if(instance && selectedImage){
            instance.loadImageFromURL(`${$page.url.origin}/${selectedImage}`, selectImage).then((result: { newWidth: number; newHeight: number; }) => {
                imageW = result.newWidth;
                imageH = result.newHeight;
            });
        }
    }

    function uploadImage(){
        const input = document.createElement('input');
        input.type = 'file';

        input.onchange = e => { 
            if(e.target)
            var file = e.target.files[0];
            selectImage = file;
            if(instance && file.type.includes("image"))
            instance.loadImageFromFile(file).then((result: { newWidth: number; newHeight: number; }) => {
                imageW = result.newWidth;
                imageH = result.newHeight;
            });
        }
        input.click()
    }
</script>

<div class="w-full h-full  bg-blue-100 flex items-center flex-col">
    <div class="flex flex-row mt-4">
        <button class="mx-4 p-1 rounded-sm bg-white border-2 " on:click={uploadImage}> uploadImage </button>
    </div>
    <div class="w-full flex flex-row">
        <FilterController imageEditor={instance} currentImage={selectImage}></FilterController>
    </div>
    <div class="min-h-96 w-2/3 h-1/2 flex-col" style="min-width: 800px;" bind:this={tuiImageEditorDiv}>
    </div>
    {#if imageH && imageW}
        {imageW} x {imageH}
    {/if}
    <div id="album" class="px-12 " style="height: 300px; width:1200px">
        <div class=" items-center justify-center flex h-full w-full">
            <Splide options={ {
                // type  : 'loop',
                // rewind: true,
                fixedHeight: '16rem',
                gap: '0.5rem',
                perPage: 4,
              } }>
              {#each allSampleImage as sampleImage, index }
                <SplideSlide class="flex items-center justify-center">
                    <div class="flex flex-col">
                        {#if selectImage === sampleImage}
                            <img src={sampleImage} class="border-8 border-yellow-200 cursor-pointer" alt="Image {index}" on:click={()=>{selectImage=sampleImage}}/>
                            <!-- <button class="">asd</button> -->
                        {:else}
                            <img src={sampleImage}  class="cursor-pointer" alt="Image {index}" on:click={()=>{selectImage=sampleImage}}/>
                            <!-- <button class="" on:click={()=>{console.log(222)}}>asd</button> -->
                        {/if}
                    </div>
                </SplideSlide>                
              {/each}
              </Splide>
        </div>
    </div>
</div>