<script>
  import ImageEditorElm from "$lib/image-editor-elm.svelte";

</script>

<div class="w-full h-full">
    <ImageEditorElm></ImageEditorElm>
</div>


<style lang="postcss">
    :global(html) {
        background-color: theme(colors.gray.100);
    }
</style>