<script lang="ts">
    import ImageEditor from "tui-image-editor"

    export let imageEditor: ImageEditor|null = null;
    export let currentImage: string|null = null;
    let isEnable: boolean = false;
    let distance: string = "45";
    let oldImage: string|null = currentImage;
    $: updateUseImage(currentImage)
    $: updateFilter(isEnable)

    function updateUseImage(newImage: string|null){
        if(newImage !== oldImage){
            // reset param
            distance = "45";
            isEnable = false;
        }
        oldImage = newImage
    }

    function updateFilter(isEnable:boolean){
        if(currentImage){
            if(isEnable){ // 移除的顏色可以改
                imageEditor.applyFilter("removeColor", {color: '#000000', distance: parseInt(distance)/255});
            }else{
                imageEditor.removeFilter("removeColor").then((obj: { type: any; action: any; }) => {
                    console.log('filterType: ', obj.type);
                    console.log('actType: ', obj.action);
                }).catch((message: any) => {
                    console.log('error: ', message);
                });
            }
        }
    }
</script>
<li class="menu-item align-left-top">
    <p>
      <label>
        <input type="checkbox" id="input-check-color-filter" bind:checked={isEnable}>
        ColorFilter
      </label>
      <br>
      <label>
        Threshold
        <input bind:value={distance} on:change={()=>{updateFilter(isEnable)}} class="range-narrow" id="input-range-color-filter-value" type="range" min="0" max="255">
      </label>
    </p>
</li>