<script lang="ts">
    import ImageEditor from "tui-image-editor"

    export let imageEditor: ImageEditor|null = null;
    export let currentImage: string|null = null;
    let isEnable: boolean = false;
    let oldImage: string|null = currentImage;
    let color: string = "#000000"
    $: updateUseImage(currentImage)
    $: updateFilter(isEnable, color)

    function updateUseImage(newImage: string|null){
        if(newImage !== oldImage){
            // reset param
            isEnable = false;
            color = "#000000";
        }
        oldImage = newImage
    }

    function updateFilter(isEnable:boolean, color: string){
        if(currentImage){
            if(isEnable){
                imageEditor.applyFilter("blendColor", {color: color});
            }else{
                imageEditor.removeFilter("blendColor").then((obj: { type: any; action: any; }) => {
                    console.log('filterType: ', obj.type);
                    console.log('actType: ', obj.action);
                }).catch((message: any) => {
                    console.log('error: ', message);
                });
            }
        }
    }
</script>

<li class="menu-item align-left-top">
    <p>
      <label><input type="checkbox" id="input-check-multiply"  bind:checked={isEnable}>Multiply</label>
    </p>
    <div id="tui-multiply-color-picker"><div class="tui-colorpicker-container tui-view-16"><div class="tui-colorpicker-palette-container tui-view-17"><ul class="tui-colorpicker-clearfix">

        <li><input class="tui-colorpicker-palette-button" type="button" style="background-color:#181818;color:#181818" title="#181818" value="#181818" on:click={()=>{color="#181818"}}></li>

        <li><input class="tui-colorpicker-palette-button" type="button" style="background-color:#282828;color:#282828" title="#282828" value="#282828" on:click={()=>{color="#282828"}}></li>
        
        <li><input class="tui-colorpicker-palette-button" type="button" style="background-color:#383838;color:#383838" title="#383838" value="#383838" on:click={()=>{color="#383838"}}></li>
        
        <li><input class="tui-colorpicker-palette-button" type="button" style="background-color:#585858;color:#585858" title="#585858" value="#585858" on:click={()=>{color="#585858"}}></li>
        
        <li><input class="tui-colorpicker-palette-button" type="button" style="background-color:#b8b8b8;color:#b8b8b8" title="#b8b8b8" value="#b8b8b8" on:click={()=>{color="#b8b8b8"}}></li>
        
        <li><input class="tui-colorpicker-palette-button" type="button" style="background-color:#d8d8d8;color:#d8d8d8" title="#d8d8d8" value="#d8d8d8" on:click={()=>{color="#d8d8d8"}}></li>
        
        <li><input class="tui-colorpicker-palette-button" type="button" style="background-color:#e8e8e8;color:#e8e8e8" title="#e8e8e8" value="#e8e8e8" on:click={()=>{color="#e8e8e8"}}></li>
        
        <li><input class="tui-colorpicker-palette-button" type="button" style="background-color:#f8f8f8;color:#f8f8f8" title="#f8f8f8" value="#f8f8f8" on:click={()=>{color="#f8f8f8"}}></li>
        
        <li><input class="tui-colorpicker-palette-button" type="button" style="background-color:#ab4642;color:#ab4642" title="#ab4642" value="#ab4642" on:click={()=>{color="#ab4642"}}></li>
        
        <li><input class="tui-colorpicker-palette-button" type="button" style="background-color:#dc9656;color:#dc9656" title="#dc9656" value="#dc9656" on:click={()=>{color="#dc9656"}}></li>
        
        <li><input class="tui-colorpicker-palette-button" type="button" style="background-color:#f7ca88;color:#f7ca88" title="#f7ca88" value="#f7ca88" on:click={()=>{color="#f7ca88"}}></li>
        
        <li><input class="tui-colorpicker-palette-button" type="button" style="background-color:#a1b56c;color:#a1b56c" title="#a1b56c" value="#a1b56c" on:click={()=>{color="#a1b56c"}}></li>
        
        <li><input class="tui-colorpicker-palette-button" type="button" style="background-color:#86c1b9;color:#86c1b9" title="#86c1b9" value="#86c1b9" on:click={()=>{color="#86c1b9"}}></li>
        
        <li><input class="tui-colorpicker-palette-button" type="button" style="background-color:#7cafc2;color:#7cafc2" title="#7cafc2" value="#7cafc2" on:click={()=>{color="#7cafc2"}}></li>
        
        <li><input class="tui-colorpicker-palette-button" type="button" style="background-color:#ba8baf;color:#ba8baf" title="#ba8baf" value="#ba8baf" on:click={()=>{color="#ba8baf"}}></li>
        
        <li><input class="tui-colorpicker-palette-button" type="button" style="background-color:#a16946;color:#a16946" title="#a16946" value="#a16946" on:click={()=>{color="#a16946"}}></li>
        
</ul>
<div class="tui-colorpicker-clearfix" style="overflow:hidden">
<input type="button" class="tui-colorpicker-palette-toggle-slider" value="Detail">
<input type="text" class="tui-colorpicker-palette-hex" bind:value={color} maxlength="7">
<span class="tui-colorpicker-palette-preview" style="background-color:{color};color:{color}">{color}</span>
</div></div><div class="tui-colorpicker-slider-container tui-view-18" style="display: none;"><div class="tui-colorpicker-slider-left tui-colorpicker-slider-part"><svg class="tui-colorpicker-svg tui-colorpicker-svg-slider">
<defs>
<linearGradient id="tui-colorpicker-svg-fill-color-6" x1="0%" y1="0%" x2="100%" y2="0%">
<stop offset="0%" stop-color="rgb(255,255,255)"></stop>
<stop class="tui-colorpicker-slider-basecolor" offset="100%" stop-color="#ff0000"></stop>
</linearGradient>
<linearGradient id="tui-colorpicker-svn-fill-black-6" x1="0%" y1="0%" x2="0%" y2="100%">
<stop offset="0%" style="stop-color:rgb(0,0,0);stop-opacity:0"></stop>
<stop offset="100%" style="stop-color:rgb(0,0,0);stop-opacity:1"></stop>
</linearGradient>
</defs>
<rect width="100%" height="100%" fill="url(#tui-colorpicker-svg-fill-color-6)"></rect>
<rect width="100%" height="100%" fill="url(#tui-colorpicker-svn-fill-black-6)"></rect>
<path transform="translate(-7,105)" class="tui-colorpicker-slider-handle" d="M0 7.5 L15 7.5 M7.5 15 L7.5 0 M2 7 a5.5 5.5 0 1 1 0 1 Z" stroke="white" stroke-width="0.75" fill="none"></path>
</svg></div>
<div class="tui-colorpicker-slider-right tui-colorpicker-slider-part"><svg class="tui-colorpicker-svg tui-colorpicker-svg-huebar">
<defs>
<linearGradient id="g-6" x1="0%" y1="0%" x2="0%" y2="100%">
<stop offset="0%" stop-color="rgb(255,0,0)"></stop>
<stop offset="16.666%" stop-color="rgb(255,255,0)"></stop>
<stop offset="33.333%" stop-color="rgb(0,255,0)"></stop>
<stop offset="50%" stop-color="rgb(0,255,255)"></stop>
<stop offset="66.666%" stop-color="rgb(0,0,255)"></stop>
<stop offset="83.333%" stop-color="rgb(255,0,255)"></stop>
<stop offset="100%" stop-color="rgb(255,0,0)"></stop>
</linearGradient>
</defs>
<rect width="18px" height="100%" fill="url(#g-6)"></rect>
<path transform="translate(-6,-3)" class="tui-colorpicker-huebar-handle" d="M0 0 L4 4 L0 8 L0 0 Z" fill="black" stroke="none"></path>
</svg></div></div></div></div>
</li>