<script lang="ts">
    import ImageEditor from "tui-image-editor"

    export let imageEditor: ImageEditor|null = null;
    export let currentImage: string|null = null;
    let isEnable: boolean = false;
    let distance: string = "100";
    let oldImage: string|null = currentImage;
    $: updateUseImage(currentImage)
    $: updateFilter(isEnable)

    function updateUseImage(newImage: string|null){
        if(newImage !== oldImage){
            // reset param
            distance = "100";
            isEnable = false;
        }
        oldImage = newImage
    }

    function updateFilter(isEnable:boolean){
        if(currentImage){
            if(isEnable){
                imageEditor.applyFilter("noise", { noise: parseInt(distance)});
            }else{
                imageEditor.removeFilter("noise").then((obj: { type: any; action: any; }) => {
                    console.log('filterType: ', obj.type);
                    console.log('actType: ', obj.action);
                }).catch((message: any) => {
                    console.log('error: ', message);
                });
            }
        }
    }
</script>

<li class="menu-item align-left-top">
    <p>
      <label><input type="checkbox" id="input-check-noise" bind:checked={isEnable}>Noise</label><br>
      <label>
        Value
        <input bind:value={distance} on:change={()=>{updateFilter(isEnable)}} class="range-narrow" id="input-range-noise-value" type="range" min="0" max="1000">
      </label>
    </p>
</li>