<script lang="ts">
    import ImageEditor from "tui-image-editor";
    export let imageEditor: ImageEditor|null = null;
    export let currentImage: string|null = null;
    let oldImage: string|null = currentImage;

    let isGrayscale: boolean, isInvert: boolean, isSepia: boolean, isSepia2: boolean, isBlur: boolean, isSharpen: boolean, isEmboss: boolean = false

    $: updateFilter(isGrayscale, "Grayscale")
    $: updateFilter(isInvert, "Invert")
    $: updateFilter(isSepia, "Sepia")
    $: updateFilter(isSepia2, "vintage")
    $: updateFilter(isBlur, "Blur")
    $: updateFilter(isSharpen, "Sharpen")
    $: updateFilter(isEmboss, "Emboss")
    $: updateUseImage(currentImage)

    function updateUseImage(newImage: string|null){
        if(newImage !== oldImage){
            isGrayscale = false
            isInvert = false
            isSepia = false
            isSepia2 = false
            isBlur = false
            isSharpen = false
            isEmboss = false
        }
        oldImage = newImage
    }

    function updateFilter(isGrayscale: boolean, filter: string){
        if(currentImage)
        if(isGrayscale){
            if(filter === "Blur"){ // Blur 這傢伙要給參數
                imageEditor.applyFilter(filter, {blur: 1});
            }else{
                imageEditor.applyFilter(filter);
            }
        }else{
            imageEditor.removeFilter(filter).then((obj: { type: any; action: any; }) => {
                console.log('filterType: ', obj.type);
                console.log('actType: ', obj.action);
            }).catch((message: any) => {
                console.log('error: ', message);
            });
        }
    }
</script>

<li class="menu-item align-left-top">
    <table>
      <tbody>
        <tr>
          <td>
            <label><input type="checkbox" id="input-check-grayscale" bind:checked={isGrayscale}>Grayscale</label>
          </td>
          <td>
            <label><input type="checkbox" id="input-check-invert" bind:checked={isInvert}>Invert</label>
          </td>
          <td>
            <label><input type="checkbox" id="input-check-sepia" bind:checked={isSepia}>Sepia</label>
          </td>
        </tr>
        <tr>
          <td>
            <label><input type="checkbox" id="input-check-sepia2" bind:checked={isSepia2}>Sepia2</label>
          </td>
          <td>
            <label><input type="checkbox" id="input-check-blur" bind:checked={isBlur}>Blur</label>
          </td>
          <td>
            <label><input type="checkbox" id="input-check-sharpen" bind:checked={isSharpen}>Sharpen</label>
          </td>
        </tr>
        <tr>
          <td>
            <label><input type="checkbox" id="input-check-emboss" bind:checked={isEmboss}>Emboss</label>
          </td>
        </tr>
      </tbody>
    </table>
  </li>